// theme color variables
$primary: #ffffff;
$secondary: #000a30;
$green: #68bfa8;
$red: #b21111;
$dark: #000000;
// font variables
// $manuale-regular: "Manuale-regular";
$manuale-bold: "Manuale-bold";
$manuale-semiBold: "Manuale-SemiBold";
$ubuntu-regular: "Ubuntu-regular";
$ubuntu-bold: "Ubuntu-bold";
$ubuntu-medium: "Ubuntu-Medium";
$blender-pro:"Blender Pro Bold";